@using Mango.Web.Utility


@model RegisterationRequestDto

<form asp-action="EditUser" method="post">
    <br />
    <div class="container border p-3">
        <h1 class="text-white text-center">Edit User</h1>
        <input hidden asp-for="Email" /> <!-- Assuming Email is the unique identifier -->

        <hr />
        <div class="row">
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Name</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Email</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Email" class="form-control" disabled />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Phone Number</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Password</label>
            </div>
            <div class="col-10 pb-3">
                <input asp-for="Password" class="form-control" type="password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="col-2">
                <label class="control-label pt-2" style="font-size:20px;">Role</label>
            </div>
            <div class="col-10 pb-3">
                <select asp-for="Role" class="form-select">
                    <option value="">--Select Role--</option>
                    <option value="@SD.RoleAdmin" selected="@Model.Role.Equals(SD.RoleAdmin)">@SD.RoleAdmin</option>
                    <option value="@SD.RoleCustomer" selected="@Model.Role.Equals(SD.RoleCustomer)">@SD.RoleCustomer</option>
                </select>
                <span asp-validation-for="Role" class="text-danger"></span>
            </div>

            <div class="col-5 offset-2">
                <a asp-action="UserIndex" class="btn-primary btn form-control">Back to List</a>
            </div>
            <div class="col-5">
                <input type="submit" value="Update" class="btn btn-success form-control" />
            </div>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
