@model IEnumerable<UserDto>
@{
    ViewData["Title"] = "Users List";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="text-white">Users List</h1>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pb-3">
            <div class="col-6">
            </div>
            <div class="col-6 text-end">
                <a asp-action="CreateUser" class="btn btn-outline-primary"><i class="bi bi-plus-square"></i> Create New User</a>
            </div>
        </div>
        <table id="tblUsers" class="table table-bordered table-striped pt-3" style="width:100%">
            <thead>
                <tr>
                    <th>User ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Phone Number</th>
                    <th>Role</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.Name</td>
                        <td>@user.Email</td>
                        <td>@user.PhoneNumber</td>
                        <td>@user.Role</td>
                        <td>
                            <a asp-action="EditUser" asp-route-userId="@user.Id" class="btn btn-success btn-sm"><i class="bi bi-pencil-square"></i></a>
                            <a asp-action="DeleteUser" asp-route-userId="@user.Id" class="btn btn-danger btn-sm"><i class="bi bi-trash"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#tblUsers').DataTable();
        });
    </script>
}
